<footer class="flex place-content-center">
  <div class="container text-center mt-8 p-10">
    <div class="flex flex-col items-center">
      <div class="flex items-center gap-1 mt-4 mb-4">
        <span class="opacity-55 text-[0.8125rem]/6">Una iniciativa de</span><a
          class="px-1 rounded-3xl hover:scale-110 transition"
          href="https://midu.dev"
          target="_blank"
          rel="noreferrer"
          title="Ir a la página de midudev"
          ><img
            alt="Logo de midudev"
            src="https://midu.dev/logo.png"
            width="92"
            height="28"
            loading="lazy"
          /></a
        >
      </div>
    </div>
    <div class="flex gap-2 place-content-center">
      <p class="flex items-baseline gap-x-1 text-[0.8125rem]/6 text-gray-500">
        Sígueme en
        <a
          class="group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-black/30 transition gap-x-0.5 hover:text-purple-500 hover:scale-110"
          href="https://twitch.tv/midudev"
          ><svg
            class="flex-none h-6 w-6 text-purple-600"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            ><g fill="currentColor"
              ><path
                d="M4.5 1L2 3.5v9h3V15l2.5-2.5h2L14 8V1H4.5zM13 7.5l-2 2H9l-1.75 1.75V9.5H5V2h8v5.5z"
              ></path><path d="M11.5 3.75h-1v3h1v-3zM8.75 3.75h-1v3h1v-3z"
              ></path></g
            ></svg
          ><span class="self-baseline text-black">twitch.tv/midudev</span></a
        ><a
          class="group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-black/30 transition hover:text-sky-300 gap-x-0.5 hover:scale-110"
          href="https://twitter.com/midudev"
          ><svg
            class="text-sky-300 size-6"
            viewBox="0 0 16 16"
            aria-hidden="true"
            fill="currentColor"
            class="flex-none h-6 w-6"
            ><path
              d="M5.526 13.502c5.032 0 7.784-4.168 7.784-7.783 0-.119 0-.237-.008-.353a5.566 5.566 0 0 0 1.364-1.418 5.46 5.46 0 0 1-1.571.431c.571-.342.998-.88 1.203-1.513a5.483 5.483 0 0 1-1.737.664 2.738 2.738 0 0 0-4.662 2.495 7.767 7.767 0 0 1-5.638-2.858 2.737 2.737 0 0 0 .847 3.651 2.715 2.715 0 0 1-1.242-.341v.035a2.737 2.737 0 0 0 2.195 2.681 2.73 2.73 0 0 1-1.235.047 2.739 2.739 0 0 0 2.556 1.9 5.49 5.49 0 0 1-4.049 1.133A7.744 7.744 0 0 0 5.526 13.5"
            ></path></svg
          ><span class="self-baseline text-black">@midudev</span></a
        >
      </p>
    </div>
  </div>
</footer>

<img
  class="w-1 h-1 opacity-0"
  src="https://librecounter.org/counter.svg"
  referrerpolicy="unsafe-url"
  alt="librecounter"
/>
