<section class="flex flex-col max-w-3xl mx-auto mb-12 gap-12">
  <article class="flex flex-col items-center justify-center gap-10 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-black [&>p>strong]:bg-yellow-300 [&>p>strong]:font-normal [&>p>strong]:text-base text-black/80 [&>p>strong]:py-0.5 [&>p>strong]:px-1 [&>p>strong]:font-mono text-lg text-pretty order-2 md:order-1 leading-normal"
    >
      <p>
        ¡Hola, soy <strong>midudev</strong>! Mi objetivo es mejorar la
        <strong>empleabilidad</strong> de la comunidad de Programación Hispana y
        el acceso a contenido de calidad sobre <strong>Desarrollo Web</strong>.
      </p>
      <footer class="flex gap-4 items-center">
        <a
          target="_blank"
          rel="noopener"
          href="https://youtube.com/midulive?sub_confirmation=1"
          class="inline-flex items-center justify-center px-2 py-1 text-xs font-semibold text-center text-black bg-white transition border border-[#c4302b] rounded-lg md:px-4 md:py-2 hover:bg-[#ffc8c6] md:text-sm"
          ><svg
            class="w-6 h-6 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 28.57 20"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.57 20"
              ><path
                fill="red"
                d="M27.9727 3.12324C27.6435 1.89323 26.6768.926623 25.4468.597366 23.2197 2.2e-7 14.285 0 14.285 0S5.35042 2.2e-7 3.12323.597366C1.89323.926623.926623 1.89323.597366 3.12324 2.2e-7 5.35042 0 10 0 10s2.2e-7 4.6496.597366 6.8768c.329257 1.23 1.295864 2.1966 2.525864 2.5258C5.35042 20 14.285 20 14.285 20s8.9347 0 11.1618-.5974c1.23-.3292 2.1967-1.2958 2.5259-2.5258.5974-2.2272.5974-6.8768.5974-6.8768s-.0024-4.64958-.5974-6.87676Z"
              ></path><path
                fill="#fff"
                d="m11.4253 14.2854 7.4224-4.285-7.4224-4.28507v8.57007Z"
              ></path></svg
            ></svg
          >Sígueme en YouTube</a
        >

        <a
          href="https://twitch.tv/midudev"
          target="_blank"
          rel="noopener"
          class="inline-flex items-center justify-center px-2 py-1 text-xs font-semibold text-center text-black transition bg-white rounded-lg md:px-4 md:py-2 hover:bg-[#d1b9ff] md:text-sm border border-[#874af6]"
        >
          <svg
            class="w-6 h-6 mr-1"
            xmlns="http://www.w3.org/2000/svg"
            width="118"
            height="138"
            viewBox="0 0 118 138"
            ><g fill="none" fill-rule="evenodd"
              ><path
                fill="#FFF"
                d="m107.8058 63.7036-19.602 19.601h-19.6l-17.152 17.151v-17.151h-22.05V9.8006h78.404z"
              ></path><path
                fill="#9146FF"
                d="M117.605 0v68.605l-44.102 44.099H53.904l-24.503 24.503v-24.503H0V24.502L24.5 0h93.105Zm-9.8 9.801H29.401v73.503h22.051v17.15l17.153-17.15h19.601l19.599-19.601V9.801ZM93.1042 26.9518v29.4h-9.8v-29.4h9.8Zm-26.951 0v29.4h-9.8v-29.4h9.8Z"
              ></path></g
            ></svg
          >Sígueme en Twitch</a
        >
      </footer>
    </div>
    <img
      width="200"
      height="200"
      src="/me.webp"
      alt="Miguel Ángel"
      class="order-1 object-cover w-52 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 aspect-square rounded-2xl dark:bg-yellow-500/5"
      style="object-position: center"
    />
  </article>
</section>
