---
import { TypeLink } from "./common/Constantes";
import Link from "./common/Link.astro";
---

<section class="flex flex-col max-w-3xl mx-auto mb-12 gap-12">
  <article class="flex flex-col items-center justify-center gap-10 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-black [&>p>strong]:bg-yellow-300 [&>p>strong]:font-normal [&>p>strong]:text-base text-black/80 [&>p>strong]:py-0.5 [&>p>strong]:px-1 [&>p>strong]:font-mono text-lg text-pretty order-2 md:order-1 leading-normal"
    >
      <p>
        ¡Hola, soy <strong>midudev</strong>! Mi objetivo es mejorar la
        <strong>empleabilidad</strong> de la comunidad de Programación Hispana y
        el acceso a contenido de calidad sobre <strong>Desarrollo Web</strong>.
      </p>
      <footer class="flex gap-4 items-center">
        <Link
          title="Sígueme en YouTube"
          typeLink={TypeLink.Youtube}
          url="https://youtube.com/midulive?sub_confirmation=1"
        />
        <Link
          title="Sígueme en Twitch"
          typeLink={TypeLink.Twitch}
          url="https://twitch.tv/midudev"
        />
      </footer>
    </div>
    <img
      width="200"
      height="200"
      src="/me.webp"
      alt="Miguel Ángel"
      class="order-1 object-cover w-52 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 aspect-square rounded-2xl dark:bg-yellow-500/5"
      style="object-position: center"
    />
  </article>
</section>
